body {
    padding-top: 170px;
}

header {
    height: 130px;
    z-index: 99;
    background-color: #000;
    padding: 2.5rem 0;
    transition: height 0.3s ease-in-out;
    position: fixed;
    top: 0;
    width: 100vw;
    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 18%;
    }
    a {
        text-decoration: none;
    }
    a.nav {
        text-decoration: none;
        height: fit-content;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 30%;
            height: 0.5rem;
            transform: translateY(-0.5rem);
            position: relative;
            z-index: -1;
            background: #D8A41E;
            transition: width 0.3s ease;
        }

        &:hover:after {
            width: 90%;
        }
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            height: auto;
            width: 60px;
            transition: all 0.3s ease-in-out;
        }

        h1 {
            font-size: 0.7rem;
            margin-top: 0.4rem;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
    }

    h6 {
        font-weight: 300;
    }

    .hamburger {
        background: transparent;
        border: none;
        outline: inherit;
        cursor: pointer;
        position: relative;
        height: 64.5px;
        width: 60px;
        z-index: 999;
        display: flex;
        align-items: center;

        &:before {
            content: "";
            display: block;
            position: absolute;
            background: #000;
            top: 3px;
            left: 3px;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            z-index: 0;
        }

        span {
            display: block;
            position: absolute;
            width: 60%;
            height: 5px;
            background: #fff;
            transition: all 0.3s ease;
            z-index: 1;

            &:nth-child(1) {
                top: 30%;
                border-top-left-radius: 15px;
            }

            &:nth-child(2) {
                top: 62.5%;
                border-bottom-right-radius: 15px;
            }
        }

        &:hover span {
            background: #D8A41E;
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 46%;
                    transform: rotate(45deg);
                    border-top-left-radius: 0px;
                }

                &:nth-child(2) {
                    top: 46%;
                    transform: rotate(-45deg);
                    border-bottom-right-radius: 0px;
                }

                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
    }

    &.offset {
        height: 110px;
        .logo {
            img {
                width: 40px;
            }

            h1 {
                opacity: 0;
            }
        }
    }

    @media screen and (max-width: 800px) {
        &.offset {
            height: 100px;
            .logo {
                img {
                    width: 35px;
                }
            }
        }
        .logo {
            img {
                width: 50px;
            }
        }
        .hamburger {
            height: 49px;
            width: 45px;

            span {
                height: 4px;
            }
        }

        a.nav {
            h6 {
                font-size: 1rem;
            }

            &:after {
                height: 0.4rem;
                transform: translateY(-0.3rem);
            }
        }

        height: 120px;
        padding-bottom: 1rem;
        > div {
            margin: 0 10%;
        }
    }

    @keyframes smoothOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .menu {
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        animation: 0.3s ease-out 0s 1 smoothOpacity;
        z-index: 998;
    }
}

@media screen and (max-width: 800px) {
    body {
        padding-top: 145px;
    }
}
