.brand {
    padding: 6vh 0;
    margin: 0 15%;
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 8vw;
        height: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        z-index: 50;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }

    .swiper {
        width: 100%;
        height: 100px;
    }

    .swiper-slide {
        color: #fff;
        font-weight: 600;
        font-size: 4.5rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2n) {
            color: #000;
            -webkit-text-stroke: 3px #b08fff;
        }

        img {
            height: 80%;
        }
    }

    @media screen and (max-width: 1200px) {
        .swiper {
            height: 80px;
        }
        
        .swiper-slide {
            font-size: 3.5rem;
        }
    }

    @media screen and (max-width: 600px) {
        .swiper {
            height: 50px;
        }

        .swiper-slide {
            font-size: 2.2rem;
        }
    }
}
