.faq {
    margin-top: 200px;
    padding: 150px 0;

    h2 {
        font-size: 2.9em;
        font-weight: 200;
        margin-bottom: 1.5rem;
        line-height: 3.5rem;

        b {
            font-weight: 400;
            font-family: "Archivo", sans-serif;
        }

        img {
            height: 2.8rem;
            transform: translateY(5px);
        }

        width: 790px;
        max-width: 100%;

        @media (max-width: 1000px) {
            width: 65%;
            margin-bottom: 2rem;
            font-size: 2rem;
            line-height: 2.5rem;

            img {
                height: 2.5rem;
            }
        }

        @media screen and (max-width: 650px) {
            width: 100%; 
        }

        @media screen and (max-width: 1400px) {
            font-size: 2rem;
            line-height: 2.5rem;

            img {
                height: 2rem;
            }
        }

        @media screen and (max-wdith: 1100px) {
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }

    h4 {
        background: linear-gradient(90deg, #49D3D5 0%, #2882A7 100%);
        -webkit-background-clip: text;
        width: fit-content;
        -webkit-text-fill-color: transparent;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: .6rem;
    }

    p {
        font-size: 1.3rem;
        font-weight: 200;
        width: 80%;
        margin-top: 2rem;

        @media screen and (max-width: 1400px) {
            font-size: 1rem;
        }
    }
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media screen and (max-width: 850px) {
        flex-direction: column;
        align-items: center;
    }

    .items {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 650px;

        @media screen and (max-width: 1400px) {
            width: 70%;
        }

        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }

    > div:first-of-type {
        width: 40%;

        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }
}