footer {
    background: #d8a41e;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;

    p {
        color: #000;
        font-weight: 500;
        font-size: 90%;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    i {
        color: #000;
        font-size: 1.4rem;
    }

    .socials {
        display: flex;
        gap: 20px;
    }
}
