header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

    > h1 {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
        font-family: "Archivo", sans-serif;
    }

    > nav {
        display: flex;
        gap: 2rem;
        a {
            text-decoration: none;
            font-family: "Archivo", sans-serif;
            font-weight: 400;
            font-size: 1.2rem;

            transform: scale(1);
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    > .socials {
        display: flex;
        gap: 1rem;
        a {
            text-decoration: none;
            padding: .6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #1C1F23;
            img {
                width: 1.2rem;
                height: 1.2rem;
            }

            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: #49D3D5;
            }
        }
    }
}