.sticky-section {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;

    &.right {
        flex-direction: row-reverse;
    }

    &.ease:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 500px;
        z-index: 2;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    &.ease:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 1000px;
        z-index: 2;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    @media screen and (min-width: 1200px) {
        &.right {
            margin: 0;

            &:before, &:after {
                left: 0;
            }
        }
    }

    .sticky {
        position: sticky;
        top: 150px;
        z-index: 1;
        height: max-content;
        width: 25%;
    }

    .content {
        height: 1600px;
        width: 75%;
        position: relative;
    }

    @media screen and (max-width: 1200px) {
        width: unset;

        &.ease:before, &.ease:after {
            display: none;
        }

        .sticky {
            display: none;
        }

        .content {
            width: 100%;
        }
    }
}
